.repair__heading{
    margin-top: 92px;
    font-family: Yeseva One;
font-size: 20px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
color: rgba(24, 24, 24, 1);
text-transform: uppercase;
}