.carousel__about {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1171px;
    margin: 0 auto;
    justify-content: space-between;
}

@media screen and  (max-width:1301px) {
    .carousel__about{
        flex-direction: column-reverse;
    }
    
    }