.lead__button {
    font-family: Nunito Sans;
font-size: 11px;
font-style: italic;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;

    display: inline-block;
    color: rgba(255, 255, 255, 1);
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding:19px 22px;
}
.lead__button:first-of-type {
    margin-right: 20px;
    margin-left: 134px;
}
.lead__button:hover {
    background: #E3B873;
    border: 1px solid #E3B873;

}