.artstyle__title{
    font-family: Yeseva One;
    font-size: 27px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(227, 184, 115, 1);
    text-transform: uppercase;
    max-width: 350px;
    margin-top: 137.47px;
}

@media screen and  (max-width:1301px) {
    .artstyle__title {
        text-align: center;
    } 
    }