.clients__subtitle {
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(54, 54, 54, 1);
    max-width: 426px;
    margin: 0 auto;
}

@media screen and  (max-width:1301px) {
    .clients__subtitle {
  display: none;
    } 
    }