.carousel__nav {
    padding-top: 107px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 130.05px;
}
@media screen and  (max-width:1301px) {
    .carousel__nav{
margin: 0;
padding: 0;
display: none;
    } 
    }