.artstyle {
    background-image: url('../../image/artstyle-bg.png');
    background-repeat: repeat;
    width: auto;
    min-height: 864px;
    margin-top: 152px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
@media screen and  (max-width:1301px) {
    .artstyle {
        background-image: none;
        min-height: auto;
    } 
    }