.broadcast__input-field {
width: 231px;
border: none;
border-bottom: 1px solid rgba(54, 54, 54, 0.3);
padding-bottom: 8px;
padding-top: 6.97px;
display: block;
font-family: Nunito Sans;
font-size: 14px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
}
@media screen and  (max-width:1301px) {
    .broadcast__input-field{
     background-color: transparent;
     color:rgba(255, 255, 255, 1);
     border-bottom: 1px solid rgba(255, 255, 255, 0.5);
     width: 100%;
     max-width: 340px;
     font-family: Nunito Sans;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;

    } 
    }